.profile-shakirat {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  position: relative;
}

.profile-shakirat .frame-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  width: 1009px;
}

.profile-shakirat .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.profile-shakirat .div {
  height: 300px;
  position: relative;
  width: 953px;
}

.profile-shakirat .GM {
  align-items: center;
  bottom: 0;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
}

.profile-shakirat .image {
  background-image: url(../../../static/img/image-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  height: 300px;
  position: relative;
  width: 281px;
}

.profile-shakirat .GM-typography {
  display: flex;
  height: 300px;
  left: 281px;
  position: absolute;
  top: 0;
  width: 646px;
}

.profile-shakirat .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 274px;
  margin-left: 17px;
  margin-top: 21px;
  position: relative;
  width: 635px;
}

.profile-shakirat .name-title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.profile-shakirat .text-wrapper {
  align-self: stretch;
  color: #5c5c5c;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
}

.profile-shakirat .text-wrapper-2 {
  align-self: stretch;
  color: #25814a;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.profile-shakirat .desc {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.profile-shakirat .mrs-alade-shakirat-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 635px;
}

.profile-shakirat .mrs-alade-shakirat {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31px;
  margin-top: -1.00px;
  position: relative;
}

.profile-shakirat .text-outer {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 953px;
}

.profile-shakirat .text-inner {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 935px;
}

.profile-shakirat .she-later-proceeded {
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.profile-shakirat .frame-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 113px;
  position: relative;
  width: 953px;
}

.profile-shakirat .follow-mrs-alade {
  align-self: stretch;
  color: transparent;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.profile-shakirat .span {
  color: #000000;
  font-weight: 700;
}

.profile-shakirat .text-wrapper-3 {
  color: #000000;
}

.profile-shakirat .text-wrapper-4 {
  color: #25814a;
  font-weight: 700;
}

.profile-shakirat .social-media {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 0px 2px;
  position: relative;
  width: 100%;
}

.profile-shakirat .instagram-logo {
  aspect-ratio: 3.51;
  background-image: url(../../../static/img/vector-4.svg);
  background-size: 100% 100%;
  height: 14.85px;
  position: relative;
  width: 52.33px;
}

.profile-shakirat .facebook-logo-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.profile-shakirat .linkedin-logo {
  aspect-ratio: 4;
  background-image: url(../../../static/img/vector-5.svg);
  background-size: 100% 100%;
  height: 15px;
  position: relative;
  width: 60px;
}

.profile-shakirat .twitter-logo-instance {
  height: 21.5px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 21.5px !important;
}

.profile-shakirat .youtube-logo-instance {
  left: unset !important;
  top: unset !important;
  width: 52.5px !important;
}

.profile-shakirat .design-component-instance-node {
  left: 0 !important;
  top: 15.60% !important;
}

.profile-shakirat .youtube-logo-2 {
  left: 40.20% !important;
  top: 0 !important;
  width: 59.80% !important;
}
