.footer {
  align-items: flex-end;
  background-color: #001008;
  bottom: 0;
  display: flex;
  height: 749px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 1512px;
}

.footer .footer-content {
  align-items: flex-start;
  background-color: #001008;
  display: flex;
  flex-direction: column;
  gap: 45px;
  height: 666px;
  margin-left: 1px;
  position: relative;
  width: 1309px;
}

.footer .top {
  align-items: center;
  align-self: stretch;
  background-color: #001008;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 34px 0px;
  position: relative;
  width: 100%;
}

.footer .greeting {
  align-items: center;
  background-color: #001008;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9px;
  padding: 4px 0px;
  position: relative;
}

.footer .text-wrapper {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.footer .div {
  color: #32c76d;
  font-family: "Inspiration", Helvetica;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.footer .social-media {
  align-items: center;
  background-color: #001008;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 44px;
  padding: 2px 0px;
  position: relative;
}

.footer .instagram-logo {
  aspect-ratio: 3.51;
  background-size: 100% 100%;
  height: 14.85px;
  position: relative;
  width: 52.33px;
}

.footer .facebook-logo-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.footer .linkedin-logo {
  aspect-ratio: 4;
  background-size: 100% 100%;
  height: 15px;
  position: relative;
  width: 60px;
}

.footer .twitter-logo-instance {
  height: 21.5px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 21.5px !important;
}

.footer .youtube-logo-instance {
  left: unset !important;
  top: unset !important;
  width: 52.5px !important;
}

.footer .design-component-instance-node {
  left: 0 !important;
  top: 15.60% !important;
}

.footer .links {
  align-items: center;
  align-self: stretch;
  background-color: #001008;
  display: flex;
  flex: 0 0 auto;
  gap: 62px;
  position: relative;
  width: 100%;
}

.footer .government {
  background-color: #001008;
  height: 330px;
  position: relative;
  width: 180px;
}

.footer .link-list {
  align-items: flex-start;
  background-color: #001008;
  display: flex;
  flex-direction: column;
  gap: 21px;
  left: calc(50.00% - 90px);
  max-height: 270px;
  position: absolute;
  top: 60px;
  width: 180px;
}

.footer .link {
  align-items: center;
  background-color: #001008;
  display: flex;
  flex: 0 0 auto;
  gap: 9px;
  padding: 2px 0px;
  position: relative;
  width: 180px;
}

.footer .text-wrapper-2 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.footer .links-header {
  background-color: #001008;
  display: flex;
  height: 13px;
  left: calc(50.00% - 90px);
  position: absolute;
  top: 0;
  width: 180px;
}

.footer .text-wrapper-3 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 78px;
}

.footer .div-wrapper {
  background-color: #001008;
  display: flex;
  height: 13px;
  left: calc(50.00% - 90px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 180px;
}

.footer .text-wrapper-4 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 92px;
}

.footer .text-wrapper-5 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 121px;
}

.footer .text-wrapper-6 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 14px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 105px;
}

.footer .text-wrapper-7 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 52px;
}

.footer .bottom {
  align-self: stretch;
  background-color: #00000017;
  border-color: #ffffff;
  border-top-style: solid;
  border-top-width: 0.3px;
  height: 100px;
  position: relative;
  width: 100%;
}

.footer .inner {
  align-items: center;
  background-color: #001008;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: calc(50.00% - 7px);
  width: 1309px;
}

.footer .p {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.footer .POWERED-BY-LAGOS {
  color: transparent;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.footer .span {
  color: #32c76d;
}

.footer .text-wrapper-8 {
  color: #ffffff;
}
