.lasg-strip {
  height: 5px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.lasg-strip .lasg-green-strip,
.lasg-strip .lasg-yellow-strip,
.lasg-strip .lasg-blue-strip,
.lasg-strip .lasg-red-strip {
  width: 25vw;
  height: 5px;
  flex-grow: 1;
}

.lasg-strip .lasg-green-strip {
  background-color: #32c76d;
}

.lasg-strip .lasg-yellow-strip {
  background-color: #ffbb32;
}

.lasg-strip .lasg-blue-strip {
  background-color: #4d8eff;
}

.lasg-strip .lasg-red-strip {
  background-color: #e83b50;
}
