.subscribe {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 32px;
  display: flex;
  height: 437px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: 6595px;
  width: 1047px;
}

.subscribe .inner-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 196px;
  margin-top: -29px;
  width: 661px;
}

.subscribe .heading-2 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  height: 80px;
  justify-content: space-around;
  padding: 10px 0px;
  position: relative;
  width: 661px;
}

.subscribe .text-wrapper-20 {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 661px;
}

.subscribe .sub-heading-2 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  margin-left: 1px;
  padding: 5px 0px;
  position: relative;
  width: 574px;
}

.subscribe .text-wrapper-21 {
  color: #00000066;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 574px;
}

.subscribe .frame {
  display: flex;
  gap: 29px;
  margin-left: 1px;
  margin-top: 36px;
  width: 454px;
}

.subscribe .email-input {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #00000017;
  border-radius: 5px;
  display: flex;
  height: 48px;
  overflow: hidden;
  width: 316px;
}

.subscribe .text-wrapper-22 {
  color: #00000066;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 28px;
  margin-top: 13px;
  text-align: center;
  white-space: nowrap;
  width: 130px;
}

.subscribe .button {
  all: unset;
  align-items: center;
  background-color: #32c76d;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 0px;
  position: relative;
  width: 109px;
}

.subscribe .text-wrapper-23 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2.00px;
  position: relative;
  width: fit-content;
}
