.emergency-info {
  align-items: center;
  background-color: #1c3f3a;
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  top: 5px;
  width: 100%;
}

.emergency-info .emergency-info-inner {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 28px;
  justify-content: center;
  max-width: 1309px;
  padding: 7px 412px;
  position: relative;
  width: 1309px;
}

.emergency-info .text-wrapper-34 {
  color: #ffffff;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.22px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}
