.emergency-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c3f3a;
  max-height: 40vh;
  width: 100vw;
}

.emergency-info .emergency-info-inner {
  min-width: 80vw;
  max-height: 40vh;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.emergency-info .text-wrapper-34 {
  color: #ffffff;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.22px;
  line-height: normal;
  margin-top: -1.00px;
}
