.youtube-logo {
  aspect-ratio: 2.5;
  height: 21px;
  left: 914px;
  position: relative;
  top: 770px;
  width: 52px;
}

.youtube-logo .vector {
  height: 66.23%;
  left: -28936.15%;
  position: absolute;
  top: 10289.41%;
  width: 91.60%;
}

.youtube-logo .img {
  height: 99.99%;
  left: -28895.99%;
  position: absolute;
  top: 10273.80%;
  width: 60.15%;
}
