.urban-agric-modal {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  position: relative;
}

.urban-agric-modal .frame-wrapper-6 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  width: 1009px;
}

.urban-agric-modal .frame-21 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.urban-agric-modal .text-wrapper-54 {
  color: #00000085;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 953px;
}

.urban-agric-modal .frame-22 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 98px;
  padding: 0px 54px;
  position: relative;
}

.urban-agric-modal .inner-frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
}

.urban-agric-modal .frame-23 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.urban-agric-modal .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.urban-agric-modal .text-wrapper-55 {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.urban-agric-modal .carousel-3 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  gap: 34px;
  height: 260px;
  overflow: hidden;
  position: relative;
  width: 953px;
}

.urban-agric-modal .image-15 {
  background-image: url(../../../static/img/image-2-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.urban-agric-modal .image-16 {
  background-image: url(../../../static/img/image-3-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.urban-agric-modal .image-17 {
  background-image: url(../../../static/img/image-1-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.urban-agric-modal .image-18 {
  background-image: url(../../../static/img/image-4-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.urban-agric-modal .image-19 {
  background-image: url(../../../static/img/image-5-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}
