.services-overlay {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  overflow-x: hidden;
  padding: 59px 60px;
  position: relative;
}

.services-overlay .inner-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  padding: 59px 60px;
}

.services-overlay .inner-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 19px;
  position: relative;
  width: 524px;
}

.services-overlay .text-wrapper-58 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.services-overlay .overlay-list-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.services-overlay .overlay-link {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 2px;
  position: relative;
  width: 100%;
}

.services-overlay .text-wrapper-59 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.services-overlay .arrow-up-right-icon {
  aspect-ratio: 1 !important;
  height: 17px !important;
  position: relative !important;
  width: 17px !important;
}

.services-overlay .text-wrapper-60 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.26px;
  line-height: normal;
  position: relative;
}

.services-overlay .overlay-list-item-2 {
  align-items: flex-start;
  align-self: stretch;
  border-color: #00000017;
  border-top-style: solid;
  border-top-width: 0.5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.services-overlay .overlay-list-item-3 {
  align-items: flex-start;
  align-self: stretch;
  border-color: #00000017;
  border-top-style: solid;
  border-top-width: 0.5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}
