.profile-auditor {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  position: relative;
}

.profile-auditor .frame-wrapper-8 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  width: 1009px;
}

.profile-auditor .frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.profile-auditor .frame-28 {
  align-items: flex-start;
  display: flex;
  height: 300px;
  justify-content: space-between;
  position: relative;
  width: 953px;
}

.profile-auditor .GM-3 {
  align-items: center;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.profile-auditor .image-25 {
  background-image: url(../../../static/img/image-74.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12px;
  height: 300px;
  position: relative;
  width: 281px;
}

.profile-auditor .GM-typography-4 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.profile-auditor .frame-29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 17px;
  position: relative;
  top: 21px;
  width: 635px;
}

.profile-auditor .name-title-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.profile-auditor .text-wrapper-61 {
  align-self: stretch;
  color: #5c5c5c;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
}

.profile-auditor .text-wrapper-62 {
  align-self: stretch;
  color: #25814a;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.profile-auditor .desc-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.profile-auditor .mr-ogunbowale-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 635px;
}

.profile-auditor .mr-ogunbowale {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31px;
  margin-top: -1.00px;
  position: relative;
}

.profile-auditor .text-outer-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 953px;
}

.profile-auditor .he-earned-his-higher-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 935px;
}

.profile-auditor .he-earned-his-higher {
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.profile-auditor .frame-30 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 113px;
  position: relative;
  width: 953px;
}

.profile-auditor .follow-mr-ogunbowale {
  align-self: stretch;
  color: transparent;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.profile-auditor .text-wrapper-63 {
  color: #000000;
  font-weight: 700;
}

.profile-auditor .text-wrapper-64 {
  color: #000000;
}

.profile-auditor .text-wrapper-65 {
  color: #25814a;
  font-weight: 700;
}

.profile-auditor .social-media-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 0px 2px;
  position: relative;
  width: 100%;
}

.profile-auditor .instagram-logo-5 {
  aspect-ratio: 3.51;
  background-image: url(../../../static/img/vector-86.svg);
  background-size: 100% 100%;
  height: 14.85px;
  position: relative;
  width: 52.33px;
}

.profile-auditor .facebook-logo-5 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.profile-auditor .linkedin-logo-5 {
  aspect-ratio: 4;
  background-image: url(../../../static/img/vector-87.svg);
  background-size: 100% 100%;
  height: 15px;
  position: relative;
  width: 60px;
}

.profile-auditor .twitter-logo-5 {
  height: 21.5px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 21.5px !important;
}

.profile-auditor .youtube-logo-11 {
  left: unset !important;
  top: unset !important;
  width: 52.5px !important;
}

.profile-auditor .youtube-logo-12 {
  left: 0 !important;
  top: 15.60% !important;
}

.profile-auditor .youtube-logo-13 {
  left: 40.20% !important;
  top: 0 !important;
  width: 59.80% !important;
}
