.hyspac-modal {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  position: relative;
}

.hyspac-modal .frame-wrapper-4 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  width: 1009px;
}

.hyspac-modal .frame-15 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.hyspac-modal .text-wrapper-50 {
  color: #00000085;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 953px;
}

.hyspac-modal .frame-16 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 98px;
  padding: 0px 54px;
  position: relative;
}

.hyspac-modal .inner-frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
}

.hyspac-modal .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.hyspac-modal .component-38 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.hyspac-modal .text-wrapper-51 {
  color: #000000;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.hyspac-modal .carousel {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  gap: 34px;
  height: 260px;
  overflow: hidden;
  position: relative;
  width: 953px;
}

.hyspac-modal .image-5 {
  background-image: url(../../../static/img/image-2-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.hyspac-modal .image-6 {
  background-image: url(../../../static/img/image-1-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.hyspac-modal .image-7 {
  background-image: url(../../../static/img/image-3-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.hyspac-modal .image-8 {
  background-image: url(../../../static/img/image-4-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}

.hyspac-modal .image-9 {
  background-image: url(../../../static/img/image-5-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 18px;
  height: 260px;
  position: relative;
  width: 375px;
}
