.data-box {
  align-items: center;
  background-color: #eff5ff;
  border-radius: 12px;
  display: flex;
  gap: 63px;
  overflow: hidden;
  padding: 37px;
  position: relative;
  top: 897px;
  width: 1309px;
}

.data-box .div-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.data-box .title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 2px 15px;
  position: relative;
  width: 100%;
}

.data-box .text-wrapper-25 {
  color: #e83b50;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .data {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 14px 13px;
  position: relative;
  width: 100%;
}

.data-box .text-wrapper-26 {
  color: #e83b50;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .line {
  height: 80px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.data-box .text-wrapper-27 {
  color: #4d8eff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .text-wrapper-28 {
  color: #4d8eff;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .text-wrapper-29 {
  color: #ffbb32;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .text-wrapper-30 {
  color: #ffbb32;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .est-land-mass {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -31.00px;
  position: relative;
}

.data-box .text-wrapper-31 {
  color: #32c76d;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  letter-spacing: 0.33px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.data-box .text-wrapper-32 {
  color: #32c76d;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.80px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}
