.LGA {
  align-items: flex-start;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  border: 1px solid;
  border-color: #00000017;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 36px;
  left: 151px;
  padding: 8px;
  position: relative;
}

.LGA .inner-layout {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.LGA .name {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 20px;
  justify-content: center;
  margin-bottom: -0.25px;
  margin-top: -0.25px;
  position: relative;
  width: 94px;
}

.LGA .apapa-iganmu {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1.21px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.LGA .type {
  height: 20px;
  margin-bottom: -0.25px;
  margin-top: -0.25px;
  position: relative;
  width: 13px;
}

.LGA .LCDA {
  align-items: center;
  bottom: 0;
  color: #ffffff;
  display: flex;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 4.3px;
  font-weight: 400;
  height: 5px;
  justify-content: center;
  left: 0;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
