.profile-mr-ojerinde {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  position: relative;
}

.profile-mr-ojerinde .div-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 28px;
  width: 1009px;
}

.profile-mr-ojerinde .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.profile-mr-ojerinde .frame-5 {
  align-items: flex-start;
  display: flex;
  height: 300px;
  justify-content: space-between;
  position: relative;
  width: 953px;
}

.profile-mr-ojerinde .image-wrapper {
  align-items: center;
  box-shadow: 0px 4px 4px #00000040;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.profile-mr-ojerinde .image-2 {
  background-image: url(../../../static/img/image-11.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 12px;
  height: 300px;
  position: relative;
  width: 281px;
}

.profile-mr-ojerinde .GM-typography-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 21px 17px;
  position: relative;
  width: 672px;
}

.profile-mr-ojerinde .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.profile-mr-ojerinde .name-title-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.profile-mr-ojerinde .text-wrapper-5 {
  align-self: stretch;
  color: #5c5c5c;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
}

.profile-mr-ojerinde .head-budget-planning {
  align-self: stretch;
  color: #25814a;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.profile-mr-ojerinde .desc-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.profile-mr-ojerinde .frame-7 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 635px;
}

.profile-mr-ojerinde .p {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31px;
  margin-top: -1.00px;
  position: relative;
}

.profile-mr-ojerinde .text-inner-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 953px;
}

.profile-mr-ojerinde .he-earned-a-bachelor-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 935px;
}

.profile-mr-ojerinde .he-earned-a-bachelor {
  color: #000000;
  flex: 1;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
}

.profile-mr-ojerinde .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 113px;
  position: relative;
  width: 953px;
}

.profile-mr-ojerinde .follow-mr-ojerinde {
  align-self: stretch;
  color: transparent;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.profile-mr-ojerinde .text-wrapper-6 {
  color: #000000;
  font-weight: 700;
}

.profile-mr-ojerinde .text-wrapper-7 {
  color: #000000;
}

.profile-mr-ojerinde .text-wrapper-8 {
  color: #25814a;
  font-weight: 700;
}

.profile-mr-ojerinde .social-media-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 0px 2px;
  position: relative;
  width: 100%;
}

.profile-mr-ojerinde .instagram-logo-2 {
  aspect-ratio: 3.51;
  background-image: url(../../../static/img/vector-4.svg);
  background-size: 100% 100%;
  height: 14.85px;
  position: relative;
  width: 52.33px;
}

.profile-mr-ojerinde .facebook-logo-2 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.profile-mr-ojerinde .linkedin-logo-2 {
  aspect-ratio: 4;
  background-image: url(../../../static/img/vector-5.svg);
  background-size: 100% 100%;
  height: 15px;
  position: relative;
  width: 60px;
}

.profile-mr-ojerinde .twitter-logo-2 {
  height: 21.5px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 21.5px !important;
}

.profile-mr-ojerinde .youtube-logo-3 {
  left: unset !important;
  top: unset !important;
  width: 52.5px !important;
}

.profile-mr-ojerinde .youtube-logo-4 {
  left: 0 !important;
  top: 15.60% !important;
}

.profile-mr-ojerinde .youtube-logo-5 {
  left: 40.20% !important;
  top: 0 !important;
  width: 59.80% !important;
}
